{% extends 'base.html.twig' %}

{% block title %}Gardes{% endblock %}

{% block body %}
    <h1>Gardes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garde.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ garde.date ? garde.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gardes_index') }}">back to list</a>

    <a href="{{ path('app_gardes_edit', {'id': garde.id}) }}">edit</a>

    {{ include('gardes/_delete_form.html.twig') }}
{% endblock %}
